/*
.git

!/.gitignore
!/_build
_build/build.config.php

!/assets/
/assets/*
!/assets/components/
/assets/components/*
!/assets/components/samplepackage/

!/core/
/core/*
!/core/components/
/core/components/*
!/core/components/samplepackage/

!/manager/
/manager/*
!/manager/components/
/manager/components/*
!/manager/components/samplepackage/
